<div class="bkg container-fluid">
    <div class="row">
        <div class="col-sm-3 col-lg-2 brand">
            <img src="/assets/images/logo-black-removebg-preview.png">
        </div>
        <div class="col-md-6 contactInfo">
            <p>Gold Tower</p>
            <p>, Suite 8E, 8th Floor, Cluster I, Jumeirah Lakes Tower (JLT)</p>
            <br>
            <div id="email"><a href="mailto:mia@uaimiddleeast.com">mia@uaimiddleeast.com</a></div>
            <div>Executive VP: Cell: 
                <a class="telRef" href="tel:+971 55 3146943">+971 55 3146943</a>, 
                <a class="telRef" href="tel:+971 50 7977173">+971 50 7977173</a>
            </div>
        </div>
        <div class="col-md-3 col-lg-4 menu">
                <a routerLink="/home">HOME</a>
                <a routerLink="/locations">LOCATIONS</a>
                <a routerLink="/about">ABOUT US</a>
                <a routerLink="/contact">CONTACT</a>
        </div>
    </div>
    <div class="row">

        <div class="col-md-12 copyright-wrapper">
            <p id="footer-copyright">&#169;2020 UAI MIDDLE EAST</p>
        </div>
    </div>
</div>
