<div class="bkg container-fluid">
    <div class="row">
        <div class="col-sm-3 col-lg-2 brand">
            <img src="/assets/images/logo-black-removebg-preview.png">
        </div>
        <div class="col-md-6 contactInfo">
            <p>Gold Tower</p>
            <p>, Suite 8E, 8th Floor, Cluster I, Jumeirah Lakes Tower (JLT)</p>
            <br>
            <div id="email">Email: sk@uaimiddleeast.com</div>
        </div>
        <div class="col-md-3 col-lg-4 menu">
                <a href="#">HOME</a>
                <a href="#">ABOUT US</a>
                <a href="#">CONTACT</a>
        </div>
    </div>
    <div class="row">

        <div class="col-md-12 copyright-wrapper">
            <p id="footer-copyright">&#169;2020 UAI MIDDLE EAST</p>
        </div>
    </div>
</div>
