.carousel-inner {
  max-height: 850px !important;
}
.imgSizing {
  width: 100%;
}
.hideImg {
  display: none;
}

@media (max-width: 376px) {
  .carousel-inner {
    max-height: 150px !important;
  }
  #c0 {
    transform: translateY(0px);
  }
  #c1 {
    transform: translateY(0px);
  }
  #c2 {
    transform: translateY(0px);
  }
  #c3 {
    transform: translateY(-57px);
  }
  #c4 {
    transform: translateY(0px);
  }
  #c5 {
    transform: translateY(0px);
  }
  #c6 {
    transform: translateY(0px);
  }
}

@media (min-width: 375px) and (max-width: 500px) {
  .carousel-inner {
    max-height: 150px !important;
  }
  #c0 {
    transform: translateY(-12px);
  }
  #c5 {
    transform: translateY(-61px);
  }
  #c6 {
    transform: translateY(-20px);
  }
}
@media (min-width: 500px) and (max-width: 650px) {
  .carousel-inner {
    max-height: 300px !important;
  }
  #c0 {
    transform: translateY(0px);
  }
  #c1 {
    transform: translateY(0px);
  }
  #c2 {
    transform: translateY(0px);
  }
  #c3 {
    transform: translateY(-78px);
  }
  #c4 {
    transform: translateY(0px);
  }
  #c5 {
    transform: translateY(-58px);
  }
  #c6 {
    transform: translateY(0px);
  }
}

@media (min-width: 650px) and (max-width: 850px) {
  .carousel-inner {
    max-height: 310px !important;
  }
  #c0 {
    transform: translateY(0px);
  }
  #c1 {
    transform: translateY(0px);
  }
  #c2 {
    transform: translateY(0px);
  }
  #c3 {
    transform: translateY(-83px);
  }
  #c4 {
    transform: translateY(0px);
  }
  #c5 {
    transform: translateY(-93px);
  }
  #c6 {
    transform: translateY(0px);
  }
}
@media (min-width: 850px) and (max-width: 1024px) {
  .carousel-inner {
    max-height: 480px !important;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .carousel-inner {
    max-height: 588px !important;
  }
  #c0 {
    width: 125%;
    transform: translateY(-120px);
  }
  #c1 {
    transform: translateY(0px);
  }
  #c2 {
    transform: translateY(0px);
  }
  #c3 {
    transform: translateY(-186px);
  }
  #c4 {
    transform: translateY(0px);
  }
  #c5 {
    transform: translateY(-113px);
  }
  #c6 {
    transform: translateY(0px);
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .carousel-inner {
    max-height: 488px !important;
  }
}
@media (min-width: 1200px) and (max-width: 1300px) {
  .carousel-inner {
    max-height: 488px !important;
  }
  #c0 {
    width: 125%;
    transform: translateY(-120px);
  }
  #c1 {
    transform: translateY(0px);
  }
  #c2 {
    transform: translateY(0px);
  }
  #c3 {
    transform: translateY(-186px);
  }
  #c4 {
    transform: translateY(0px);
  }
  #c5 {
    transform: translateY(-113px);
  }

  #c6 {
    transform: translateY(-180px);
  }
}
@media (min-width: 1300px) and (max-width: 1500px) {
  .carousel-inner {
    max-height: 635px !important;
  }
}
@media (min-width: 1500px) {
  .carousel-inner {
    max-height: 717px !important;
  }
  #c0 {
    transform: translateY(0px);
  }
  #c1 {
    transform: translateY(0px);
  }
  #c2 {
    transform: translateY(0px);
  }
  #c3 {
    transform: translateY(-228px);
  }
  #c4 {
    transform: translateY(0px);
  }
  #c5 {
    transform: translateY(-215px);
  }
  #c6 {
    transform: translateY(0px);
  }
}
