.carousel-inner{
    max-height:800px !important;
}
.imgSizing{
    width: 100%;
    height: 250px;
}
.hideImg{
    display:none;
}
@media(min-width:375px){
    .imgSizing{
        height: 300px;
    }
}
@media(min-width: 500px){
    .imgSizing{
        height: 350px;
    }
}
@media(min-width: 650px){
    .imgSizing{
        height: 475px;
    }
}