<div class="bkg">
  <div class="topTitle shadow">
    <h1>UAI MIDDLE EAST, DMCC</h1>
  </div>
  <div class="body">
    <div class="icons-wrapper container">
      <div class="icon-wrap">
        <img class="icon" src="/assets/images/icons8-helping-hand-100.png" />
        <p>TRADING</p>
      </div>
      <div class="icon-wrap">
        <img
          id="gold-icon"
          class="icon"
          src="/assets/images/icons8-gold-bars-96.png"
        />
        <p>PRECIOUS METALS</p>
      </div>
      <div class="icon-wrap">
        <img class="icon" src="/assets/images/icons8-oil-pump-100.png" />
        <p>OIL & GAS</p>
      </div>
    </div>

    <div class="aboutSummary container">
      <div class="text-wrapper">
        <p class="gold">UAI Middle East DMCC</p>
        <p>
          is founded by Mr. S. K. Chauhan, an American Entrepreneur having its
          business in USA since 1998, along with co-founder by Mr. Ganesh
          Bagade, an Indian Entrepreneur having its family business in India
          since 1947.
        </p>
      </div>
    </div>
    <hr />

    <div class="founders-wrapper">
      <h1 class="header">FOUNDERS</h1>
      <div class="founder1">
        <div class="profileImgWrapper">
          <img class="profileImg" src="/assets/images/sk-chauhan.jpg" />
        </div>
        <div class="founderTitleWrapper">
          <h3 class="aFounderTitle">About S.K. Chauhan</h3>
        </div>

        <div class="text-wrapper">
        <p>
          He is a U.S. Citizen, born in India, holds Bachelor Degree in
          Electrical Engineering [BSEE] 1976-81 from Kurukshetra University,
          India. Also, he gained Professor Engineer [PE] license from State of
          Tennessee, USA. Mr. Chauhan has a professional entrepreneur having
          experience working as Marine Engineer in Indian Merchant Navy from
          1982 to 1985, Consulting Engineer from 1985 to 1991, Chief Engineer
          from 1991to1998, Founder of UAI Inc. from 1998 to present in USA and
          now founder UAI MIDDLE EAST in Dubai, U.A.E.
        </p>
        <br /><br />
        <p>
          As UAI Inc. Mr. Chauhan designed and implemented Smart City Solutions
          to Utility Industry [Electric, Water and Gas], EMA, Police, Fire,
          Healthcare and Real Estate sectors in over 135 Cities in 23 States in
          USA, spanned across Alaska to Florida and Puerto Rico. He migrated to
          USA with 42 dollars in his pocket and achieved $83 Million in
          contracts as a sole proprietor of UAI, Inc. He sold his Utility
          Division to Trimble, current market cap 13.25 Billion, [Stock Symbol
          NASDAQ: TRMB] for an undisclosed amount.
        </p>
        <br /><br />
        <p>
          Now Mr. Chauhan, is poised to grow its international business, having
          over 38 years of entrepreneur experience, travelled over 25 countries,
          developing vast international network in the area of Gold, Oil & Gas,
          and further into Healthcare IT, Smart City, commodity trading and
          Project Finance.
        </p>
      </div>
    </div>

      <div class="founder2">
        <div class="profileImgWrapper">
          <img class="profileImg" src="/assets/images/ganesh-bagade.png" />
        </div>
        <div class="founderTitleWrapper">
          <h3 class="aFounderTitle">About Ganesh Bagade</h3>
        </div>
        <div class="text-wrapper">
          <p>
            He is an Indian Citizen, having his family Retail Business Since
            1947, almost 70 years old brand. Bagade Jewellers Pvt. Ltd., [AN ISO
            9001:2008 CERTIFIED COMPANY], its Jewellery Business, was started in
            2005, almost 15 years ago.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
