<div class="bkg">
  <div class="topTitle shadow">
    <h1>UAI MIDDLE EAST, DMCC</h1>
  </div>
  <div class="body">
    <div class="aboutSummary container">
      <div class="text-wrapper">
        <p class="gold">UAI Middle East DMCC</p>
        <p>
          is founded by Mr. S. K. Chauhan, an American Entrepreneur having its
          business in USA since 1998, along with co-founder by Mr. Ganesh
          Bagade, an Indian Entrepreneur having its family business in India
          since 1947.
        </p>
      </div>
    </div>
    <hr />

    <div class="founders-wrapper">
      <h1 class="header">EXECUTIVE TEAM</h1>
      <div class="founder1">
        <div class="profileImgWrapper">
          <img class="profileImg" src="/assets/images/skuai.jpg " />
        </div>
        <div class="founderTitleWrapper">
          <h3 class="aFounderTitle">Mr. S.K. Chauhan, Chairman, CEO</h3>
        </div>

        <div class="text-wrapper">
          <p>
            He is a U.S. Citizen, born in India, holds Bachelor Degree in
            Electrical Engineering [BSEE] 1976-81 from Kurukshetra University,
            India. Also, he gained Professor Engineer [PE] license from State of
            Tennessee, USA. Mr. Chauhan has a professional entrepreneur having
            experience working as Marine Engineer in Indian Merchant Navy from
            1982 to 1985, Consulting Engineer from 1985 to 1991, Chief Engineer
            from 1991to1998, Founder of UAI Inc. from 1998 to present in USA and
            now founder UAI MIDDLE EAST in Dubai, U.A.E.
          </p>
          <br /><br />
          <p>
            As UAI Inc. Mr. Chauhan designed and implemented Smart City
            Solutions to Utility Industry [Electric, Water and Gas], EMA,
            Police, Fire, Healthcare and Real Estate sectors in over 135 Cities
            in 23 States in USA, spanned across Alaska to Florida and Puerto
            Rico. He migrated to USA with 42 dollars in his pocket and achieved
            $83 Million in contracts as a sole proprietor of UAI, Inc. He sold
            his Utility Division to Trimble, current market cap 13.25 Billion,
            [Stock Symbol NASDAQ: TRMB] for an undisclosed amount.
          </p>
          <br /><br />
          <p>
            Now Mr. Chauhan, is poised to grow its international business,
            having over 38 years of entrepreneur experience, travelled over 25
            countries, developing vast international network in the area of
            Gold, Oil & Gas, and further into Healthcare IT, Smart City,
            commodity trading and Project Finance.
          </p>
        </div>
      </div>
      <div class="founder2">
        <div class="profileImgWrapper">
          <img class="profileImg" src="/assets/images/mohamediqbal.png">
        </div>
        <div class="founderTitleWrapper">
          <h3 class="aFounderTitle">Mr. Mohamed Iqbal Ansari, Executive Vice President</h3>
        </div>
        <div class="text-wrapper">
          <p>Mr. Ansari works on logistics and planning our business in the Oil and Gas Sector worldwide, working with Key Suppliers, Buyers, and Financing Partners.</p>
          <br><br>
          <p>He is Citizen of Mumbai, India, Emirates Resident, has over 35 years of business experience in running multiple fields of textile, energy, finance and other related sectors. Mr. Ansari and his family has been caterpillar of Kamani Engineering Ltd involved in electric power infra projects, since independence of India. His family has been instrumental in the economic development of the post independent India working closely with key political figures of India.</p>
          <br><br>
          <p>Among Gold,Oil & Gas initiatives based in Dubai, UAE, Mr. Ansari is poised to expand its business in the Middle East, Africa, Asia and other such regions in the areas of Energy, Healthcare, Infrastructure, Pharma and other such vertical sectors.</p>
        </div>
      </div>
      <div class="founder2">
        <div class="profileImgWrapper">
          <img class="profileImg" src="/assets/images/ganesh-bagade.png" />
        </div>
        <div class="founderTitleWrapper">
          <h3 class="aFounderTitle">Mr. Ganesh Bagade, Manager Gold Business Unit</h3>
        </div>
        <div class="text-wrapper">
          <p>
            Mr. Bagade works on logistics and planning our business in the Gold Business Unit worldwide, working with Key Suppliers, Buyers, and Financing Partners.
          </p>
          <br><br>
          <p>
            Mr. Ganesh Bagade is an Indian Citizen, graduate in commerce and course in jewellery manufacturing, having his family Retail Business Since 1947, almost 70 years old brand. Bagade Jewellers Pvt. Ltd., [AN ISO 9001:2008 CERTIFIED COMPANY], its Jewellery Business, was started in 2005, almost 15 years ago.
          </p>
          <br><br>
          <p>
            He started the jewellery business from Shrigonda 15 years ago, a town in Ahmednagar district, Maharashtra State, India and then expanded it into Mumbai, the financial capital of India. And now he joined UAI Middle East DMCC, on the path to expand it internationally based in Dubai.
          </p>
          <br><br>
          <p>
            He has gained enough experience at every level of the business, from a retail showroom to Managing Chain stores from Corporate Office to manufacture jewellery. Under his leadership, a team of over 500 people are working fulfilling the mission of Gold Mines to the retail Market.
          </p>
          <br><br>
          <p>
            Mr. Bagade says “Gold is one of the prominent assets and considered as a universal currency parallel to the United States Dollar”.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
