<div id="home" class="landing-bkg container-fluid">
        <div class="leftSide">
            <div>
                <img id="logoImg" src="/assets/images/logo-black-removebg-preview.png">
                <a
                id="scrollBtn" 
                [routerLink]="'/home'"
                [state]="{ subRoute: 'home-services' }"
                type="button btn"
                ><i class="material-icons">expand_more</i></a>
            </div>
        </div>
        <div class="right-side"></div>
</div> 

