.bkg{
    padding: 4rem 1rem;
}
#map{
    height: 300px;
    background-color: gray;
    width: 100%;
}
.gold{
    color: #736535;
}
#rightSide{
    padding-top: 2rem;
    text-align: center;
}
#rightSide h2{
    color: #736535;
    font-size: 40px;
  font-family: "Goldman", cursive;
}
#rightSide h5{
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}
#rightSide p{
    display: inline;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.0045em;
    color: #3f3f3f;
    font-family: 'Inter', sans-serif;
}
#rightSide a{
    color: #3f3f3f;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.0045em;

    font-family: 'Inter', sans-serif;
}
.learnMore{
    margin-top: 2rem;
    border: 2px solid #736535;
    color: #736535;
    display: inline-block;
}
.learnMore:hover{
    background-color: #736535;
    color: white;
}
.btn-wrapper{
    text-align: center;
}
@media(min-width: 768px){
    .bkg{
        padding: 4rem 3rem;
    }
    #rightSide{
        text-align:left;
        padding-top: 1rem;
    }
    #map{
        height: 370px;
    }
}
@media(min-width:1024px){
    .bkg{
        padding: 4rem 3rem;
    }
    #map{
        height: 350px;
    }
}
@media(min-width: 1440px){
    #map{
        height: 400px;
        width: 657px;  
    }
    #map-wrapper{
        display: flex;
        justify-content: center;
    }
}