<div class="bkg">
    <div id="map"></div>
    <div id="rightSide">
        <div>
            <h2>CONTACT US</h2>
            <br>
            <h4 class="title">Office: </h4>
            <h5 class="gold">"Gold Tower"</h5>
            <h5>, Suite 8E, 8th Floor,
                Cluster I, Jumeirah Lakes Towers (JLT),
                Dubai, U.A.E.</h5>
                <br><br>
            <h4 class="title">Email: </h4>
            <h5>sk@uaimiddleeast.com</h5>
            
        </div>
    </div>
</div>