<div class="bkg container-fluid">
  <div class="row">
    <div id="map-wrapper" class="col-md-6">
      <div id="map"></div>
    </div>
    <div id="rightSide" class="col-md-6">
      <h2 class="gold">CONTACT US</h2>
      <br />
      <h4>Office:</h4>
      <h5 class="gold">Gold Tower</h5>
      <h5>
        , Suite 8E, 8th Floor, Cluster I, Jumeirah Lakes Towers (JLT), Dubai,
        U.A.E.
      </h5>
      <br /><br />
      <h4>Email:</h4>
      <h5>sk@uaimiddleeast.com</h5>
      <br>
      <button class="btn button learnMore">LEARN MORE ABOUT US</button>
    </div>
  </div>
</div>
