.bkg{
    padding: 4rem 1rem;
}
#map{
    height: 300px;
    background-color: gray;
    width: 100%;
}
#rightSide{
    margin: 2rem 1rem;
}
.gold{
    color: #736535;
}
#rightSide h5{
    display: inline;
}