<div id="home-services" class="container-fluid home-services">
  <h1 class="text-center serve-margin">TRADING SERVICES</h1>
  <div class="row justify-content-center">
    <div class="col-4 icon-wrap">
      <img
        id="gold-icon"
        class="icon "
        src="/assets/images/icons8-gold-bars-96.png"
      />
    </div>
    <div class="col-4 icon-wrap">
      <img id="oilgas-icon" src="/assets/images/icons8-oil-pump-100.png" />
     
    </div>
  </div>
  <div class="row justify-content-center">
    <!--Start Cards-->
    <div id="card2" class="col-lg-4 card-col">
      <div class="card bg-light shadow">
        <div class="card-body">
          <h4 class="card-title">Precious Metals</h4>
          <div class="center-card-txt">
            <ul class="card-text">
              <hr />
              <li>Gold Bars</li>
              <hr />
              <li>Bullion Bars</li>
              <hr />
              <li>Gold Jewelry</li>
              <hr />
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div id="card3" class="col-lg-4 card-col">
      <div class="card bg-light shadow">
        <div class="card-body">
          <h4 class="card-title">Oil & Gas</h4>
          <div class="center-card-txt">
            <ul class="card-text">
              <hr />
              <li>Petroleum gas</li>
              <hr />
              <li>Crude Oil</li>
              <hr />
              <li>Jet Fuel</li>
              <hr />
              <li>Diesel Fuel</li>
              <hr />
              <li>Natural gas</li>
              <hr />
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
