<div class="container-fluid home-services">
  <h1 class="text-center serve-margin">SERVICES</h1>

  <div class="row">
    <!--Start Cards-->
    <div id="card1" class="col-lg-4 card-col">
      <div class="card bg-light shadow">
        <div class="card-body">
          <h4 class="card-title">Trading</h4>
          <div class="center-card-txt">
            <ul class="card-text">
              <li>- List Item</li>
              <li>- List Item</li>
              <li>- List Item</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div id="card2" class="col-lg-4 card-col">
      <div class="card bg-light shadow">
        <div class="card-body">
          <h4 class="card-title">Precious Metals</h4>
          <div class="center-card-txt">
            <ul class="card-text">
              <li>- Gold Bars</li>
              <li>- Bullion Bars</li>
              <li>- Gold Jewelry</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div id="card3" class="col-lg-4 card-col">
      <div class="card bg-light shadow">
        <div class="card-body">
          <h4 class="card-title">Oil & Gas</h4>
          <div class="center-card-txt">
            <ul class="card-text">
              <li>- Crude Oil</li>
              <li>- Jet Fuel</li>
              <li>- Diesel Fuel</li>
              <li>- LPG</li>
              <li>- LNG</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
