<app-navbar></app-navbar>
<div class="bkg">
  <div class="heading">
    <h1>CONTACT US</h1>
  </div>
  <div class="container main">
    <div class="row">
      <div id="map-wrapper" class="col-lg-5 col-md-6">
        <a
          target="_blank"
          href="https://www.google.com/maps/place/Gold+Tower+-+Jumeirah+Lakes+Towers+-+Dubai+-+United+Arab+Emirates/data=!4m2!3m1!1s0x3e5f6cae063a6e51:0x8e3cda8d4e8d8988?sa=X&ved=2ahUKEwi-s9mkmI_tAhUmvlkKHQH1DHEQ8gEwFHoECA4QAQ"
        >
          <img id="map" src="/assets/images/staticmap.png"
        /></a>
      </div>
      <div id="rightSide" class="col-7-lg col-md-6">
        <div id="rightInner">
          <h5>Address:</h5>
          <p class="gold">Gold Tower</p>
          <p>
            , Suite 8E, 8th Floor, Cluster I, Jumeirah Lakes Towers (JLT),
            Dubai, U.A.E.
          </p>
          <br /><br />
          <h5>Email:</h5>
          <a id="email" href="mailto:mia@uaimiddleeast.com"
            >info@uaimiddleeast.com</a
          >
          <br />
        </div>
      </div>
    </div>
  </div>
</div>
