.bkg {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.767), rgba(0, 0, 0, 0.616)),
    url("/../assets/images/black-370118_1280.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem 1rem;
}
#leftCol h2 {
  color: white;
  text-align: center;
}
.locHeader {
  text-align: center;
  color: #dcbb67;
  font-style: italic;
  margin: 1rem;
}
.locImg {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#locationList {
  display: none;
}
/*Tablet View*/
@media (min-width: 768px) {
  .bkg {
    padding: 4rem 2rem;
  }
  #leftCol {
    position: sticky;
    top: 15%;
    margin: 0rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 35%;
    float: left;
  }
  #leftCol h2 {
    text-align: left;
    margin-bottom: 2rem;
  }
  #locationList {
    display: flex;
    flex-direction: column;
  }
  #locationList li {
    padding: 0.5rem 0rem 1rem 0rem;
  }
  #locationList li a {
    color: white;
    font-weight: bold;
  }
  #locationList li a:hover
  {
    text-decoration: none;
    color: #dcbb67;
  }
  #mainCol {
    padding-top: 2rem;
    width: 65%;
    display: inline-block;
  }
  .location {
    display: flex;
    justify-content: center;
  }
}
/*Small Laptop View*/
@media (min-width: 1024px) {
  .bkg {
    padding: 4rem 3rem;
  }
}
/*Large Laptop View*/
@media (min-width: 1440px) {
  #leftCol {
    width: 30%;
    padding-left: 5rem;
  }
  #locationList {
    font-size: x-large;
  }
  #mainCol {
    width: 70%;
  }
  .locImg {
    width: 900px;
  }
}
