<div class="container-fluid bkg">
    <div class="row">
        <div class="col-md-3" id="leftCol">
            <h2>LOCATIONS</h2>
            <ul class="nav nav-stacked" id="locationList">
                <li><a href="loc1">Charkop, Mumbai</a></li>
                <li><a href="loc2">Wagholi</a></li>
                <li><a href="loc3">Akluj</a></li>
                <li><a href="loc4">Belwandi</a></li>
                <li><a href="loc">Kashti</a></li>
                <li><a href="loc6">Shrigonda</a></li>
            </ul>
        </div>

        <div class="col-md-9 col-sm-12" id="mainCol">
            <div id="loc1">
                <h3 class="locHeader">Charkop, Mumbai</h3>
                <img class="locImg" src="/assets/images/location-charkop.jpg">
            </div>
            <div id="loc2">
                <h3 class="locHeader">Wagholi</h3>
                <img class="locImg" src="/assets/images/location-wagholi.png">
            </div>
            <div id="loc3">
                <h3 class="locHeader">Akluj</h3>
                <img class="locImg" src="/assets/images/location-akluj.png">
            </div>
            <div id="loc4">
                <h3 class="locHeader">Belwandi</h3>
                <img class="locImg" src="/assets/images/location-belwandi.png">
            </div>
            <div id="loc5">
                <h3 class="locHeader">Kashti</h3>
                <img class="locImg" src="/assets/images/location-kashti.png">
            </div>
            <div id="loc6">
                <h3 class="locHeader">Shrigonda</h3>
                <img class="locImg" src="/assets/images/location-shrigonda.png">
            </div>
            
        </div>

    </div>
</div>