<div class="container-fluid bkg">
  <div id="leftCol">
    <h2>LOCATIONS</h2>
    <ul class="nav nav-stacked" id="locationList">
      <li><a href="#loc1">Charkop, Mumbai</a></li>
      <li><a href="#loc2">Wagholi</a></li>
      <li><a href="#loc3">Akluj</a></li>
      <li><a href="#loc4">Belwandi</a></li>
      <li><a href="#loc5">Kashti</a></li>
      <li><a href="#loc6">Shrigonda</a></li>
    </ul>
  </div>

  <div class="container-fluid" id="mainCol">
    <div id="loc1" class="location row flex-row-reverse">
      <h3 class="locHeader col-sm-12 col-md-8">Charkop, Mumbai</h3>
    </div>
    <div class="row flex-row-reverse">
        <img class="locImg col-sm-12 col-md-8" src="/assets/images/location-charkop.jpg" />
    </div>
    
    <div id="loc2" class="location row flex-row-reverse">
      <h3 class="locHeader col-sm-12 col-md-8">Wagholi</h3>
    </div>
    <div class="row flex-row-reverse">
        <img class="locImg col-sm-12 col-md-8" src="/assets/images/location-wagholi.png" />
    </div>
    <div id="loc3" class="location row flex-row-reverse">
      <h3 class="locHeader col-sm-12 col-md-8 flex-row-reverse">Akluj</h3>
    </div>
    <div class="row flex-row-reverse">
        <img class="locImg col-sm-12 col-md-8" src="/assets/images/location-akluj.png" />
    </div>
    <div id="loc4" class="location row flex-row-reverse">
      <h3 class="locHeader col-sm-12 col-md-8 flex-row-reverse">Belwandi</h3>
    </div>
    <div class="row flex-row-reverse">
        <img class="locImg col-sm-12 col-md-8" src="/assets/images/location-belwandi.png" />
    </div>
    <div id="loc5" class="location row flex-row-reverse">
      <h3 class="locHeader col-sm-12 col-md-8">Kashti</h3>
    </div>
    <div class="row flex-row-reverse">
        <img class="locImg col-sm-12 col-md-8" src="/assets/images/location-kashti.png" />
    </div>
    <div id="loc6" class="location row flex-row-reverse">
      <h3 class="locHeader col-sm-12 col-md-8">Shrigonda</h3>
    </div>
    <div class="row flex-row-reverse">
      <img class="locImg col-sm-12 col-md-8" src="/assets/images/location-shrigonda.png" />
    </div>
  </div>
</div>
