<app-color-navbar></app-color-navbar>
<app-locations-landing></app-locations-landing>

<div class="locationSummary">
  <p>
    UAI Middle East DMCC, including our strategic business partner and Head of
    Gold Business Unit, has the following seven locations:
  </p>
</div>
<div class="container-fluid bkg">
  <div id="leftCol">
    <h2 id="menuTitle">LOCATIONS</h2>
    <ul class="nav nav-stacked" id="locationList">
      <li>
        <a id="menuItem1" class="menuText" href="#loc1"
          >UAI Middle East DMCC [HQ]</a
        >
      </li>
      <li>
        <a id="menuItem2" class="menuText" href="#loc2"
          >Bagade Jewellers Pvt. Ltd.</a
        >
      </li>
      <li>
        <a id="menuItem3" class="menuText" href="#loc3">Wagholi, Pune</a>
      </li>
      <li>
        <a id="menuItem4" class="menuText" href="#loc4"
          >Solapur, India</a
        >
      </li>
      <li>
        <a id="menuItem5" class="menuText" href="#loc5">Belwandi, Ahmednagar, India</a>
      </li>
      <li>
        <a id="menuItem6" class="menuText" href="#loc6">Kashti, Maharashtra</a>
      </li>
      <li>
        <a id="menuItem7" class="menuText" href="#loc7">Shrigonda, Ahmednagar, India</a>
      </li>
    </ul>
  </div>

  <div id="mainCol">
    <div id="loc1" class="location">
      <div>
        <h3 id="locImg1" class="locHeader">UAI Middle East DMCC [HQ]</h3>
        <div class="loc">
          <img class="locImg" src="/assets/images/AU_Tower.jpg" />
          <div class="overlay">
            <div class="overlayText">
              <h2>Gold, Oil & Gas Trading</h2>
              <br />
              <p>
                Gold Tower, Cluster I, Jumeirah Lake Towers [JLT], Dubai,
                United Arab Emirates
            </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="loc2" class="location">
      <div>
        <h3 class="locHeader">Bagade Jewellers Pvt. Ltd.</h3>
        <div class="loc">
          <img class="locImg" src="/assets/images/location-bagade.png" />
          <div class="overlay">
            <div class="overlayText">
              <h2>Manufacturing Unit, Gold Jewellery</h2>
              <br />
              <p>
                2nd Floor, Plot No. 137 AB, Metro Chambers, Kandivali
                Co-operative Industrial Estate Ltd, Govt. Industrial Estate,
                Charkop, Kandivali (East), Mumbai – 400067, India
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="loc3" class="location">
      <div>
        <h3 class="locHeader">Wagholi, Pune</h3>
        <div class="loc">
          <img class="locImg" src="/assets/images/location-wagholi-new.png" />
          <div class="overlay">
            <div class="overlayText">
              <h2>Retail Store</h2>
              <br />
              <p>
                Gat No. 1180, Hissa No. 2, Blue Sky Icon, Baif Road, Opp. Moze
                College, Wagholi, Pune - 412207, India
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="loc4" class="location">
      <div>
        <h3 class="locHeader">Solapur, India</h3>
        <div class="loc">
          <img class="locImg" src="/assets/images/location-solapur.png" />
          <div class="overlay">
            <div class="overlayText">
              <h2>Retail Store</h2>
              <br />
              <p>
                Jamdar Niwas, Vijay Chowk, Akluj, Dist. Solapur - 41310, India
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="loc5" class="location">
      <div>
        <h3 class="locHeader">Belwandi, Ahmednagar, India</h3>
        <div class="loc">
          <img class="locImg" src="/assets/images/location-belwandi-new.png" />
          <div class="overlay">
            <div class="overlayText">
              <h2>Retail Store</h2>
              <br />
              <p>
                At post Belwandi (bk), Tal Shrigonda, Opp S.T. Stand, Belwandi,
                Ahmednagar - 423109, India
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="loc6" class="location">
      <div>
        <h3 class="locHeader">Kashti, Maharashtra</h3>
        <div class="loc">
          <img class="locImg" src="/assets/images/location-kashti-new.png" />
          <div class="overlay">
            <div class="overlayText">
              <h2>Retail Store</h2>
              <br />
              <p>Bhairavnath Chowk, Kashti, Maharashtra - 414701, India</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="loc7" class="location">
      <div>
        <h3 class="locHeader">Ahmednagar, India</h3>
        <div class="loc">
          <img class="locImg" src="/assets/images/location-shrigonda-new.png" />
          <div class="overlay">
            <div class="overlayText">
              <h2>Retail Store</h2>
              <br />
              <p>650, Kasar Galli, 
                Dilli Darwaja Parisar Shrigonda, 
                Dist. Ahmednagar - 413701, India
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
